<!DOCTYPE html>
<html lang="en-us">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Marcos Jiménez">
  <meta name="description" content="Student">

  
  
    <link rel="stylesheet" href="css/highlight.min.css">
    
  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link rel="stylesheet" href="css/academicons.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700|Merriweather|Roboto+Mono">
  <link rel="stylesheet" href="css/hugo-academic.css">
  

  <link rel="alternate" href="https://marcosjnez.github.io/index.xml" type="application/rss+xml" title="Marcos Jiménez">
  <link rel="feed" href="https://marcosjnez.github.io/index.xml" type="application/rss+xml" title="Marcos Jiménez">

  <link rel="icon" type="image/svg" href="img/psi.svg">
  <link rel="apple-touch-icon" type="image/png" href="img/global.png">

  <link rel="canonical" href="https://marcosjnez.github.io/">

  <title>Marcos Jiménez</title> <!-- sin cambios -->

  <!-- Archivo css en línea para los birretes -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<!--
Código para visualizar ecuaciones en LaTeX 
-->
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
  src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  
  </script>

</head>
<body id="top" data-spy="scroll" data-target="#navbar-main" data-offset="71">

<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="container">

    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Marcos Jiménez</a> <!-- título arriba del todo- -->
    </div>

    
    <div class="collapse navbar-collapse">

      
      <ul class="nav navbar-nav navbar-right">
        
        <li class="nav-item">
          <a href="/#about" data-target="#about">
            
            <span>Home</span>
          </a>
        </li>

        <li class="nav-item">
          <a href="/#posts" data-target="#posts">
            
            <span>Posts</span>
          </a>
        </li>
        
      </ul>

    </div>
  </div>
</nav>



<span id="homepage" style="display: none"></span>


  <section id="about" class="home-section">
    <div class="container">


<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <div class="col-xs-12 col-md-4">
    <div id="profile">

      
      <!-- Foto principal -->
      <div class="portrait" itemprop="image"
           style="background-image: url('img/icon.png');">
      </div>
      

      <div class="portrait-title">
        <h2 itemprop="name">Marcos Jiménez  </h2>
        <h3 itemprop="jobTitle">Student</h3>
        
      </div>

      <ul class="social-icon" aria-hidden="true">
        
        
        <li>
          <a href="https://twitter.com/skeptpsych" target="_blank">
            <p> <img src="img/twitter.svg" width="30" height="30"></p>
          </a>
        </li>
        
        
        <li>
          <a href="https://github.com/Marcosjnez/" target="_blank">
            <p> <img src="img/github.svg" width="30" height="30"></p>
          </a>
        </li>
        
        
        <li>
          <a href="https://www.linkedin.com/in/marcos-jim%C3%A9nez-henr%C3%ADquez-088905194/" target="_blank">
            <p> <img src="img/linkedin.svg" width="30" height="30"></p>
          </a>
        </li>
        
        
      </ul>

    </div>
  </div>
  <div class="col-xs-12 col-md-8" itemprop="description">

    

<h1 id="biography">About</h1>

This is a blog intended to comunicate and discuss methodological issues concerned with measurement, psychometrics and statistics applied in the behavioral sciences.

<!--
<!--begin.rcode fig.width=10, fig.height=5, echo=FALSE
curve(sin(x), xlim = c(-20, 20), n = 1e3, lwd = 2)
end.rcode-->
-->

    <div class="row">

      
      <div class="col-sm-5">
        <h3>Interests</h3>
        <ul class="ul-interests">
          
          <li>Measurement</li>
          
          <li>Psychometrics </li>
          
          <li>Bayesian statistics</li>
          
           <li>R Software</li>
          
        </ul>
      </div>
      

      
      <div class="col-sm-7">
        <h3>Education</h3>
        <ul class="ul-edu fa-ul">
          
          <li>
          <i class="fa-li fa fa-graduation-cap"></i>
            <div class="description">
              <p class="course"> Bachelor on Psychology, 2018</p>
              <p class="institution">UNED</p>
            </div>
          </li>
          
          <li>
            <i class="fa-li fa fa-graduation-cap"></i>
            <div class="description"> 
              <p class="course">Master on Behavioural Research Methods, 2020</p>
              <p class="institution">UAM</p>
            </div>
          </li>
          
        </ul>
      </div>
      

    </div>
  </div>
</div>

    </div>
  </section>

  
  
  
  
<!-- Posts -->

  
  <section id="posts" class="home-section">
    <div class="container">

<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">

    <h1>Recent Posts</h1>
    
  </div>
  <div class="col-xs-12 col-md-8">
  
  

<!-- Primer blog -->

<div class="article-list-item" itemscope itemprop="blogPost">
  
  <h3 class="article-title" itemprop="name">
    <a href="https://github.com/Marcosjnez/" itemprop="url">My first post</a>
  </h3>
  
<div class="article-metadata">

  <span class="article-date">
    <time datetime="2020-01-05 00:00:00 &#43;0000 UTC" itemprop="datePublished">
      Sat, Jan 04, 2020
    </time>
  </span>

  <span class="article-categories">
    <i class="fa fa-folder"></i>
    
    <a href="/categories/r">R</a
    >
    
  </span>
  
  <span class="article-tags">
    <i class="fa fa-tags"></i>
    
    <a href="/tags/r">R</a
    >, 
    
    <a href="/tags/psychometrics">Psychometrics</a
    >
    
  </span>

</div>

  <div class="article-style" itemprop="articleBody">
    
    My first post.
    
  </div>
  <p class="read-more">
    <a href="https://github.com/Marcosjnez/" class="btn btn-primary btn-outline">
      CONTINUE READING
    </a>
  </p>
</div>

  
          
 <!-- Segundo blog -->
 
<div class="article-list-item" itemscope itemprop="blogPost">
  
  <h3 class="article-title" itemprop="name">
    <a href="https://github.com/Marcosjnez/" itemprop="url">My second post</a>
  </h3>
  

<div class="article-metadata">

  <span class="article-date">
    <time datetime="2017-02-17 00:00:00 &#43;0000 UTC" itemprop="datePublished">
      Tue, Jan 07, 2020
    </time>
  </span>

  <span class="article-categories">
    <i class="fa fa-folder"></i>
    
    <a href="/categories/r">R</a
    >
    
  </span>
  
  <span class="article-tags">
    <i class="fa fa-tags"></i>
    
    <a href="/tags/r">R</a
    >, 
    
    <a href="/tags/psychometrics">Psychometrics</a
    >
    
  </span>

</div>

  <div class="article-style" itemprop="articleBody">
    
    My second post.
    
  </div>
  <p class="read-more">
    <a href="https://github.com/Marcosjnez/" class="btn btn-primary btn-outline">
      CONTINUE READING
    </a>
  </p>
</div>

  </div>
</div>

    </div>
  </section>
  
    
      <!-- nota a final de página
<footer class="site-footer">
  <div class="container">
    <p class="powered-by">

      &copy; 2020 Marcos Jiménez &middot; 

      Powered by the <a href="https://github.com/gcushen/hugo-academic" target="_blank">Academic
      theme</a> for <a href="http://gohugo.io" target="_blank">Hugo</a>.
      -->

      <span class="pull-right" aria-hidden="true">
        <a href="#" id="back_to_top">
          <span class="button_icon">
            <i class="fa fa-chevron-up fa-2x"></i>
          </span>
        </a>
      </span>

    </p>
  </div>
</footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
    <script src="/js/jquery-1.12.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <script src="/js/hugo-academic.js"></script>
    

    
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-93145806-1', 'auto');
        ga('send', 'pageview');

         
        var links = document.querySelectorAll('a');
        Array.prototype.map.call(links, function(item) {
            if (item.host != document.location.host) {
                item.addEventListener('click', function() {
                    var action = item.getAttribute('data-action') || 'follow';
                    ga('send', 'event', 'outbound', action, item.href);
                });
            }
        });
    </script>
    

    
    
      
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>

      
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/r.min.js"></script>
      

      

      <script>hljs.initHighlightingOnLoad();</script>
    

    
    
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
    </script>
    <script async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
    <!-- El anterior enlace no funciona -->

  </body>
</html>

