/* Whole document: */
body{
  font-style: normal; /* italic oblique */
  font-family: Helvetica;
  font-size: 15pt;
  color: black;
  /* border: 0px solid orange; */
  padding-left: 1px;
  padding-right: 1px;
  background-color: white;
  /* margin-left: 0px; */
  /* margin-right: 0px; */
  margin-top: 30px; /* márgenes verticales */
  /* margin-left: 20px; */
  line-height: 0.8cm;
}
/* Headers */
h1{
  font-weight: 500; /* boldness level */
  font-family: Helvetica; 
  font-size: 20pt;
  text-align: left;
}
h2{
  font-family: Helvetica; 
  font-size: 18pt;
  text-align: center;
}
h3{
  font-family: Helvetica; 
  font-size: 16pt;
}
.math {
  font-size: 12pt;
}
